<div class="login util">
    <div class="limiter">
        <div class="container-login100" style="background-image: url('assets/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                <form class="login100-form validate-form flex-sb flex-w" [formGroup]="form" #validateForm="ngForm">
                    <span class="login100-form-title p-b-53">
                        Đổi mật khẩu
                    </span>

                    <a href="#" class="btn-face m-b-20">
                        <img alt="Facebook icon" style="height: 25px; width: 25px; margin-right: 10px;"
                            src="assets/images/facebook.png" lazy="loaded">
                        Facebook
                    </a>

                    <a href="#" class="btn-google m-b-20">
                        <img src="assets/images/icon-google.png" alt="GOOGLE">
                        Google
                    </a>
                    <div class="form-group">
                        <label for="userName">Tài khoản</label>
                        <input type="text" formControlName="userName" class="form-control"
                        [(ngModel)]="changePassword.userName"
                            (change)="checkValidateUserName()" />
                        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="invalid-feedback">
                            {{userName.errors?.required? 'Username không được để trống' : ''}}
                            {{userName.errors?.minlength? 'Username phải ít nhất 4 ký tự' : ''}}
                            {{userName.errors?.maxlength? 'Username nhiều nhất là 11 ký tự' : ''}}
                        </div><br>
                    </div>

                    <div class="form-group">
                        <label for="password">Mật khẩu</label>
                        <input type="password" formControlName="password" class="form-control"
                            [(ngModel)]="changePassword.password" (change)="checkValidatePassword()"
                            [class.is-invalid]="password.invalid && (password.dirty || password.touched)" />
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                            {{password.errors?.required? 'Password không được để trống' : ''}}
                            {{password.errors?.minlength? 'Mật khẩu quá ngắn! Vui lòng đặt mật
                            khẩu từ 6-12 ký tự' : ''}}
                            {{password.errors?.maxlength? 'Mật khẩu quá dài! Vui lòng đặt mật
                            khẩu từ 6-12 ký tự' : ''}}
                        </div><br>
                    </div><br><br>

                    <div class="form-group">
                        <label for="passwordNew">Mật khẩu mới</label>
                        <input type="password" formControlName="passwordNew" class="form-control"
                            [(ngModel)]="changePassword.passwordNew" (change)="checkValidatePasswordNew()"
                            [class.is-invalid]="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched)" />
                        <div *ngIf="passwordNew.invalid && (passwordNew.dirty || passwordNew.touched)" class="invalid-feedback">
                            {{passwordNew.errors?.required? 'Password New không được để trống' : ''}}
                            {{passwordNew.errors?.minlength? 'Mật khẩu quá ngắn! Vui lòng đặt mật
                            khẩu từ 6-12 ký tự' : ''}}
                            {{passwordNew.errors?.maxlength? 'Mật khẩu quá dài! Vui lòng đặt mật
                            khẩu từ 6-12 ký tự' : ''}}
                        </div><br>
                    </div><br><br>

                    <div class="form-group">
                        <label for="confirmNewPassword">Nhập lại mật khẩu mới</label>
                        <input type="password" formControlName="confirmNewPassword" class="form-control"
                            [(ngModel)]="changePassword.confirmNewPassword" (change)="checkValidateConfirmNewPassword()"
                            [class.is-invalid]="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" />
                        <div *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)" class="invalid-feedback">
                            {{confirmNewPassword.errors?.required? 'Confirm New Password không được để trống' : ''}}
                            {{confirmNewPassword.errors?.minlength? 'Mật khẩu quá ngắn! Vui lòng đặt mật
                            khẩu từ 6-12 ký tự' : ''}}
                            {{confirmNewPassword.errors?.maxlength? 'Mật khẩu quá dài! Vui lòng đặt mật
                            khẩu từ 6-12 ký tự' : ''}}
                        </div><br>
                    </div><br><br>
                    <div *ngIf= "sucess" class="sucess">
                        {{sucess}}
                    </div><br><br>
                    <div class="container-login100-form-btn m-t-17">
                        <button class="login100-form-btn" type="reset" (click)="onSubmit()" [disabled]="validateForm.invalid" href="javascript:void(0)">
                            Sign Up
                        </button><br/>
                       
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
                    <div class="w-full text-center p-t-55">
                        <span class="txt2">
                            Chưa có tài khoản?
                        </span>
                        <a routerLink="/login" class="txt2 bo1">
                            Đăng ký ngay
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>