<!-- <header class="section page-header"> -->
<!-- RD Navbar-->
<!-- <div class="rd-navbar-wrap rd-navbar-modern-wrap fixed-top" style="height: 90.2px;">
    <nav class="rd-navbar rd-navbar-modern rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed"
      data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed"
      data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static"
      data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static"
      data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px"
      data-xxl-stick-up-offset="70px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
      <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main"> -->
<!-- RD Navbar Panel-->
<!-- <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
<!-- <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button> -->
<!-- RD Navbar Brand-->
<!-- <div class="rd-navbar-brand"><a class="brand" href="index.html"><img src="assets/images/topfood.png" alt=""
                  width="196" height="47" /></a></div>
          </div>
          <div class="rd-navbar-main-element">
            <div class="rd-navbar-nav-wrap toggle-original-elements"> -->
<!-- RD Navbar Basket-->
<!-- <a routerLink="/shopping-cart"><i class="las la-shopping-bag" style="font-size: 45px;" ></i></a>
              <span>2</span> -->

<!-- <div class="rd-navbar-basket-wrap">
                <i (click)="exit()"
                  class="rd-navbar-basket fl-bigmug-line-shopping198 toggle-original active las la-shopping-bag"
                  data-rd-navbar-toggle=".cart-inline" style="font-size: 45px;"><span>2</span></i>
                <div *ngIf="IsmodelShow" class="cart-inline toggle-original-elements active">
                  <div class="cart-inline-header">
                    <h5 class="cart-inline-title">In cart:<span> 2</span> Products</h5>
                    <h6 class="cart-inline-title">Total price:<span> $800</span></h6>
                  </div>
                  <div class="cart-inline-body">
                    <div class="cart-inline-item">
                      <div class="unit align-items-center">
                        <div class="unit-left"><a class="cart-inline-figure" href="#"><img
                              src="assets/images/product-mini-1-108x100.png" alt="" width="108" height="100"></a></div>
                        <div class="unit-body">
                          <h6 class="cart-inline-name"><a href="#">Blueberries</a></h6>
                          <div>
                            <div class="group-xs group-inline-middle">
                              <div class="table-cart-stepper">
                                <div class="stepper "><input class="form-input stepper-input" type="number"
                                    data-zeros="true" value="1" min="1" max="1000"><span
                                    class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                              </div>
                              <h6 class="cart-inline-title">$550</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="cart-inline-item">
                      <div class="unit align-items-center">
                        <div class="unit-left"><a class="cart-inline-figure" href="#"><img
                              src="assets/images/product-mini-2-108x100.png" alt="" width="108" height="100"></a></div>
                        <div class="unit-body">
                          <h6 class="cart-inline-name"><a href="#">Avocados</a></h6>
                          <div>
                            <div class="group-xs group-inline-middle">
                              <div class="table-cart-stepper">
                                <div class="stepper "><input class="form-input stepper-input" type="number"
                                    data-zeros="true" value="1" min="1" max="1000"><span
                                    class="stepper-arrow up"></span><span class="stepper-arrow down"></span></div>
                              </div>
                              <h6 class="cart-inline-title">$250</h6>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cart-inline-footer">
                    <div class="group-sm"><a class="button button-md button-default-outline-2 button-wapasha"
                        href="#">Go to cart</a><a class="button button-md button-primary button-pipaluk"
                        href="#">Checkout</a></div>
                  </div>
                </div>
              </div> -->

<!-- RD Navbar Search-->

<!-- RD Navbar Nav-->
<!-- <ul class="rd-navbar-nav">
                <li class="rd-nav-item active"><a class="rd-nav-link" routerLink="/home">Trang chủ</a>
                </li>
                <li class="rd-nav-item rd-navbar-dropdown">
                  <a class="rd-nav-link dropdown-toggle" data-toggle="dropdown">Sản phẩm</a>
                  <ul class="dropdown-menu">
                    <li><a routerLink="/product" class="dropdown-item">Rau củ quả</a></li>
                    <li><a routerLink="/product" class="dropdown-item">Thực phẩm tươi sống</a></li>
                    <li><a routerLink="/product" class="dropdown-item">Đồ khô</a></li>
                  </ul>
                </li>

                <li class="rd-nav-item"><a class="rd-nav-link" routerLink="/about-us">Về chúng tôi</a>
                </li>
                <li class="rd-nav-item"><a class="rd-nav-link" routerLink="/contact">Liên hệ</a>
                <li class="rd-nav-item"><a class="rd-nav-link" (click)=checkLogin() *ngIf="isLoggedIn">Đăng nhập</a>
                </li>
              </ul>
              <nav class="sb-topnav navbar navbar-expand navbar" *ngIf="isLoggedOut"> -->
<!-- Navbar-->
<!-- <ul class="navbar-nav ml-auto ml-md-3">
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="home" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i style="font-size: 45px;" class="lar la-user"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                      <a class="dropdown-item" routerLink="/home">Xin chào: {{username}}</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" routerLink="/home">Thông tin cá nhân</a>
                      <div class="dropdown-divider"></div>
                      <a routerLink="/home" class="dropdown-item" (click)="logout()" *ngIf="isLoggedOut">Đăng xuất</a>
                    </div>
                  </li>
                </ul>

              </nav>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header> -->



<a href="offer.html"><img src="assets/images/download.png" class="img-head" alt=""></a>
<div class="header">

  <div class="container">

    <div class="logo">
      <h1><a href="index.html">Top Food+<span>SIÊU THỊ TỐT NHẤT</span></a></h1>
    </div>
    <div class="head-t">
      <ul class="card" style="display: inline-block;">
        <li><a routerLink="" *ngIf="isLoggedIn"><i class="fa fa-user" aria-hidden="true"></i>Xin Chào {{username}}</a>
        </li>
        <li><a routerLink="/login" (click)=checkLogin() *ngIf="!isLoggedIn"><i class="fa fa-user"
              aria-hidden="true"></i>Đăng Nhập</a></li>
        <li><a routerLink="/register" *ngIf="!isLoggedIn"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đăng
            Ký</a></li>
            <li><a routerLink="/change-password" *ngIf="!isLoggedIn"><i class="fa fa-arrow-right" aria-hidden="true"></i>Đổi mật khẩu
              </a></li>
        <li><a routerLink="/history" *ngIf="isLoggedIn"><i class="fa fa-file-alt" aria-hidden="true"></i>Lịch Sử Đơn
            Hàng</a></li>
        <li><a routerLink="/info" *ngIf="isLoggedIn"><i class="fa fa-heart" aria-hidden="true"></i>Thông tin cá nhân</a>
        </li>
        <li><a routerLink="/home" (click)="logout()" *ngIf="isLoggedIn"><i class="fa fa-arrow-right"></i>Đăng Xuất</a>
        </li>
      </ul>
    </div>

    <div class="header-ri">
      <ul class="social-top">
        <li><a href="#" class="icon facebook"><i class="fab fa-facebook" aria-hidden="true"></i><span></span></a></li>
        <li><a href="#" class="icon twitter"><i class="fab fa-twitter" aria-hidden="true"></i><span></span></a></li>
        <li><a href="#" class="icon pinterest"><i class="fab fa-pinterest-p" aria-hidden="true"></i><span></span></a>
        </li>
        <li><a href="#" class="icon dribbble"><i class="fab fa-dribbble" aria-hidden="true"></i><span></span></a></li>
      </ul>
    </div>


    <div class="nav-top">
      <nav class="navbar navbar-default">

        <div class="navbar-header nav_2">
          <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse"
            data-target="#bs-megadropdown-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
          <ul class="nav navbar-nav " style="display: inline-block;">
            <li class=" active"><a routerLink="/home" class="hyper "><span>Trang chủ</span></a></li>

            <li class="dropdown ">
              <a class="dropdown-toggle hyper" data-toggle="dropdown"><span>Danh mục<b class="caret"></b></span></a>
              <ul class="dropdown-menu">
                <li *ngFor="let category of categories"><a routerLink="/products/{{category.id}}"><i
                      class="fa fa-angle-right" aria-hidden="true"></i> &nbsp; {{category.categoryName}}</a></li>
              </ul>
            </li>
            <li>
              <a routerLink="/product" class="hyper"><span> Sản phẩm </span></a>
            </li>
            <li><a routerLink="/about-us" class="hyper"> <span>Về chúng tôi</span></a></li>
            <li><a routerLink="/contact" class="hyper"><span>Liên hệ</span></a></li>
          </ul>
        </div>
      </nav>
      <div class="cart">
        <span routerLink="/shopping-cart" class="fa fa-shopping-cart my-cart-icon"
          style="position: absolute; background-color: inherit;"><span
            class="badge badge-notify my-cart-badge">{{count}}</span></span>
      </div>
      <div class="clearfix"></div>
    </div>

  </div>
</div>